name: Lint & Compliance

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    check-deps:
        name: Check Dependency Consistency
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6

            -   uses: oven-sh/setup-bun@v2
                with:
                    bun-version: latest

            -   name: Install Dependencies
                run: bun install

            -   name: Syncpack Check
                run: bunx syncpack list-mismatches

            -   name: Biome Check
                run: bunx @biomejs/biome ci .
